/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Global Styles----------------- */
body {
background-color: white;
 background-image: linear-gradient(white 75%,#F5F7B8 ,yellow);
}

body {
  margin: 0;
  font-family: 'Lobster', cursive;

}


P { text-align: center }

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #04C4D9;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6321A6;
  color: black;
}

.topnav a.active {
  background-color: #BF4588;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

header h1, h2, h3, h4, h5{
  color: #BF4588 ;
  text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer{
  text-align:center;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

#link-container {
    text-align: center;
}

<div id="link-container">
    <a href=""https://www.facebook.com/Cake.Poppin.AR/"" id="link">This is my link!</a>
</div>

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.gallery {
	background-color: yellow;
	width: 130px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 315px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 6px;
}

gallery {
  background-color: yellow;
	width: 130px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 315px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 6px;
}

gallery {
  background-color: yellow;
	width: 130px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #999;
	height: 310px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 6px;
}

.gallery img {
	margin: 15px;
}