/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---------------Global Styles----------------- */

body{
  font-family: 'Overpass', sans-serif;
   line-height: 1.5;
}

header.primary{
background-color:#FAF6C3;
text-align:center;
  color:#6321A6;
   text-shadow: 2px 2px white;

  /* Longform */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:20px;
  padding-left:40px;
  
  /* Shorthand top/bottom | left/right */
  padding:20px 40px;
  
  /* Shorthand T,R,B,L */
  padding: 40px 40px 20px 40px;
  
  /* Shorthand T, r/l , B */
  padding: 40px 40px 20px;
}

header.primary h1 {
  font-size:3.2rem;
  margin: 20px 0;
}

header.primary h1 a{
  color:black;
  text-decoration:none;
}

header.primary h2{
  font-size: 2em;
  margin:20px 
}



